<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app" v-cloak>
        <p>{{ fullName }}</p>
        <hr />

        <label for="first-name">First Name</label>
        <input type="text" id="first-name" v-model="firstName" aria-label="First Name"/>

        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" v-model="lastName" aria-label="Last Name"/>
    
    </div>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>
</html>
